<launch>
  <include file="$(find launch_tutorial)/include_r7.launch" ns="group1">
    <arg name="primary" value="true" />
  </include>
  <include file="$(find launch_tutorial)/include_r7.launch" ns="group2">
    <arg name="primary" value="false" />
  </include>
  <node pkg="rxtools" type="rxplot" name="rxplot" args="/group1/turtle1/pose/theta /group2/turtle1/pose/theta" />
</launch>

